//============================================= HR NET ===============//
// PAGE HOME =========================================================//
//==================================== By NEPHELIM ============ 2024 =//
@use '../../scss/colors.module.scss' as colors;
//@use '../../scss/typo.module.scss' as typo;

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  @media screen and (max-width: 768px) {}


  h1 {
    width: clamp(320px, 50%, 800px);
    font-size: 3.2em;
    line-height: 1.1;
    text-align: center;
    overflow-wrap: break-word;
    color: colors.$colorTypoMain;
  }
}

.popover {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}