//============================================= HR NET ===============//
// MAIN ==============================================================//
//============================== By NEPHELIM ================= 2024 ==//
@use 'colors.module.scss' as colors;
@use 'typo.module.scss' as typo;

:root {
  // Reset Styles
  all: unset;
  box-sizing: border-box;
  margin: 0;
  // FONT
  font-family: typo.$fontDefault;
  font-size: typo.$fontSizeDefault;
  line-height: 1.0rem;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  color-scheme: light dark;
  color: colors.$colorTypoBlack;
  background-color: colors.$backgroundSite;

  &::before,
  &::after {
    all: unset;
  }
}

a {
  font-weight: 500;
  color: colors.$colorTypoBlack;
  text-decoration: inherit;

  &:hover {
    color: colors.$colorTypoBlack
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  [id="root"] {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    min-height: 100dvh;
    min-height: 100vh;


  }

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@media (prefers-color-scheme: light) {
  :root {
    color: colors.$colorTypoWhite;
    background-color: colors.$backgroundSiteLight;
  }

}