//============================================= HR NET ===============//
// FORM ==============================================================//
//==================================== By NEPHELIM ============ 2024 =//
@use './colors.module.scss' as colors;


// LABEL -------------------------------------------------------------//
label {
    color: colors.$colorTypoMain;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

// SELECT ------------------------------------------------------------//
select {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: colors.$colorWhite;
    transition: border-color 0.25s;
}

// INPUT -------------------------------------------------------------//
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"] {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: colors.$colorWhite;
    transition: border-color 0.25s;
}

// BUTTON ------------------------------------------------------------//

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: colors.$colorMain;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: colors.$colorMain;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}