//============================================= HR NET ===============//
// FORM ==============================================================//
//==================================== By NEPHELIM ============ 2024 =//
@use './colors.module.scss' as colors;


// LABEL -------------------------------------------------------------//
label {
    color: colors.$colorTypoMain;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

// SELECT ------------------------------------------------------------//
select {}